.DS_Store

.env
*.env
!*.env.example

*.log

.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.python-version

.idea/
.vscode/
*.swp

bin/
dist/

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage.*

youtube-ai-crawler/data/*.csv
youtube-ai-crawler/data/**/*.csv
